
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
body {
  font-family: 'Nunito Sans', sans-serif;
}

.bg-yellow {
  background: #FFFD9C;
}

.avatar {
  width: 30%;
  height: auto;
  object-fit: contain;
}

.img-avatar {
  border-radius: 50%;
}

.text-orange {
  color: #FB943C;
}

.rounded-5 {
  border-radius: 15px;
}